[submodule "user-service"]
	path = user-service
	url = git@github.com:chuckldev/user-service.git
[submodule "calc"]
	path = calc
	url = git@github.com:chuckldev/calc.git
[submodule "gostack"]
	path = gostack
	url = git@github.com:chuckldev/gostack.git
